@import '../../variables.scss';

:host {
  >ul {
    list-style: none;

    padding: 0;
    margin: 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;

    >li.logo-fretefy {
      display: flex;
      align-items: center;
      padding: 0.5rem;

      img {
        width: 100px;
      }
    }

    >li.menu-item {
      >a {
        display: inline-block;
        appearance: none;
        border: none;
        background-color: white;
        padding: 12px;
        text-decoration: none;
        font-weight: 600;
        color: $azul-escuro;
        border-bottom: 3px solid $azul-escuro;

        &.active {
          border-bottom: 3px solid $azul-escuro;
        }
      }
    }
  }
}