<div class="container">
  <div class="content">
    <h1>Documentação do Desafio</h1>

    <h2>Introdução</h2>
    <p>
      Primeiramente, gostaria de expressar minha gratidão pela oportunidade de
      participar deste desafio. A experiência foi enriquecedora e, com base nas
      exigências, acredito que consegui entregar uma solução robusta,
      especialmente no Front-End. Investi também na melhoria da interface do
      usuário (UI) e na experiência do usuário (UX), com o objetivo de oferecer
      um resultado visualmente atraente e funcional.
    </p>
    <p>
      Enfrentei um desafio inicial relacionado à versão 10.2 do Angular, mas
      após realizar ajustes necessários, como a atualização da versão do Node
      (para a 16) e do Angular (para a 10.2) utilizando o <b>nvm</b>, consegui
      fazer a aplicação funcionar conforme esperado.
    </p>

    <h2>Metodologia</h2>
    <h3>Coleta de Dados</h3>
    <p>
      Para obter as informações necessárias sobre as regiões do Brasil, estados
      e municípios, utilizei a API do IBGE. Para garantir uma manipulação
      eficiente dos dados, implementei tipagem forte na pasta <b>models</b>,
      facilitando o processo de integração e validação.
    </p>

    <h3>Uso do Angular</h3>
    <p>
      A aplicação foi desenvolvida utilizando a versão 10 do Angular. Durante o
      desenvolvimento, utilizei diversas funcionalidades, como
      <code>Input()</code> e <code>Output()</code>, <code>ngClass</code>,
      serviços, modelos, validadores e componentes.
    </p>
    <ul>
      <li>
        Organizei as pastas de acordo com as melhores práticas recomendadas,
        embora, com mais tempo, eu possa adaptar a estrutura à documentação
        oficial do Angular.
      </li>
      <li>
        A maior parte dos componentes foi construída com HTML e CSS nativos,
        incluindo o uso de SASS para um design mais flexível e escalável.
      </li>
      <li>
        Considerando a natureza da vaga (Designer de Produto), adotei cores e
        elementos visuais inspirados na identidade visual da Fretefy, para criar
        uma solução alinhada com o sistema de design da empresa.
      </li>
    </ul>

    <h2>Resultados</h2>
    <h3>Desafios e Soluções</h3>
    <p>
      O processo de adaptação às tecnologias exigidas foi desafiador, mas
      consegui integrar frameworks como Tailwind, Bootstrap, DaisyUI, PrimeNG e
      Angular Material com Material Design, o que proporcionou uma experiência
      de usuário agradável e consistente.
    </p>
    <p>
      A validação de municípios ainda não foi implementada, mas planejo realizar
      esse ajuste em breve, com o objetivo de evitar o cadastro duplicado de
      cidades.
    </p>
    <ul>
      <li>
        Foi implementado um CRUD completo com <b>localStorage</b>, com a adição
        de um popover nativo. Ao passar o mouse sobre o nome da tabela, uma
        descrição detalhada é exibida no popover.
      </li>
      <li>
        Embora o back-end não tenha sido integrado, utilizei a API do IBGE e o
        localStorage para persistir dados temporários. Para uma versão futura,
        seria interessante integrar com bancos de dados como MongoDB ou Supabase
        e adicionar novas funcionalidades.
      </li>
    </ul>

    <h3>Design</h3>
    <p>
      Ao analisar as cores e fontes do site da Fretefy, criei uma adaptação
      visual que reflete a identidade visual da empresa. Essa abordagem inicial
      pode ser ajustada conforme a necessidade, para garantir uma maior
      consistência com o sistema de design utilizado.
    </p>
    <ul>
      <li>
        A tipografia utilizada segue a mesma família visual do site da Fretefy,
        garantindo coesão no design.
      </li>
      <li>
        O botão de exportação para Excel foi implementado utilizando as cores do
        software, proporcionando uma integração visual mais harmoniosa.
      </li>
      <li>
        Popovers nativos foram criados para as funcionalidades de edição e
        exclusão, com tratamento especial para o dropbox.
      </li>
    </ul>

    <h2>Conclusão</h2>
    <p>
      Embora tenha enfrentado alguns desafios, pude realizar o desenvolvimento
      com calma, sempre buscando uma solução bem estruturada e de qualidade. A
      organização do código Angular também foi um ponto importante, garantindo
      um bom equilíbrio entre a parte visual e a funcionalidade da aplicação.
    </p>

    <h3>Próximos Passos</h3>
    <p>
      Ainda planejo finalizar a validação de municípios e implementar melhorias
      adicionais, como a integração com back-end e a otimização de
      funcionalidades, entregando a versão final assim que todos os ajustes
      forem concluídos.
    </p>

    <h6>Data da Documentação: 29/12/2024</h6>
  </div>
</div>
