$azul-mais-claro: hsl(216 60% 90%);
$azul-claro: hsl(216 60% 80%);
$azul-medio: hsl(216, 80%, 70%);
$azul-escuro: hsl(216, 80%, 20%);
$azul-mais-escuro: hsl(216, 80%, 20%);
$azul-hover: hsl(216, 80%, 40%);
$cinza-mais-claro: hsl(208, 15%, 90%);
$cinza-claro: hsl(208, 15%, 80%);
$cinza-medio: hsl(208, 15%, 60%);
$cinza-escuro: hsl(208, 15%, 40%);

$verde-mais-claro: hsl(180, 50%, 90%);
$verde-claro: hsl(180, 50%, 70%);
$verde: hsl(180, 70%, 50%);
$verde-escuro: hsl(180, 90%, 30%);
$verde-mais-escuro: hsl(180, 90%, 20%);